table.Dialog
{
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #ccf;
    background-color: #fff;
    transition: opacity 750ms ease-in-out;
}

table.Dialog tr.Heading
{
    background-color: #54789e;
    color: #fff;
    font-weight: bold;
}

table.Dialog td.Body
{
    border: 1px solid #ccf;
    text-align: left;
}

table.Dialog td.Buttons input
{
    margin: 0px 0px 0px 2px;
}

table.Dialog td
{
    padding: 0px;
}