.node g.parent
{
    cursor: pointer;
}

.node circle
{
    fill: #fff;
    stroke: #54789e;
    stroke-width: 3px;
}

.node line
{
    fill: #fff;
    stroke: #54789e;
    stroke-width: 3px;
}

.node.expanded line.vertical
{
    stroke-opacity: 0;
}

.node text
{
    font: 12px sans-serif;
}

body
{
  font-family: Arial;
  font-size: 11pt;
}

table.calendar td
{
    font-size: 8pt;
}

.link
{
    fill: none;
    stroke: #acacac;
    stroke-width: 2px;
}

a
{
    cursor: pointer;
}

table.DataGrid
{
    border-collapse: collapse;
}

table.DataGrid td
{
    border: 1px solid #ccf;
    padding-left: 1px;
    padding-right: 1px;
}

input[type=text]
{
    height: 20px;
    border: 1px solid black;
    padding: 0px 2px 0px 2px;
}

input[type=text].InputError
{
    color: red;
    border-color: red;
}
