table.TabbedView th.Spacer
{
    border-color: #ccf;
}
table.TabbedView th.Spacer1
{
    border-color: #ccf;
}
table.TabbedView th.Tab
{
    border-color: #ccf;
    background-color: #f0f0f0;
    width: 110px;
}
table.TabbedView td.View
{
    border-color: #ccf;
}
table.TabbedView th.Selected
{
    background-color: White;
}
